#container{ background: silver;
  width: 1000px;
  height: 836px;

  background-image: url("python-BSD.png");
  background-repeat: no-repeat;
  background-size: contain;
}
/* -------------------------------------------------------------------------- */
#r1 { background: red;
  height: 120px;

  /* DEBUG? */
  opacity: 0.5;
}
#img1 {
  margin-top: 15px;
  margin-left: 30px;
  height: 103px;
}
/* -------------------------------------------------------------------------- */
#r2{ background: green;
  height: 52px;

  /* DEBUG */
  opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
#r3{ background: blue;
  height: 306px;

  /* DEBUG */
  opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
#r4{ background: yellow;
  height: 230px;

  /* DEBUG */
    opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
#r5{ background: magenta;
  height: 104px;

  /* DEBUG */
    opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
#r1_c1, #r1_c2, #r1_c3 {
  display: inline-block;
}
#r1_c1 { background: orange;
  height: 104px;
  width: 100px;
}
#r1_c2 { background: yellow;
  height: 120px;
  width: 316px;
  /* vertical-align: top; */
  float: right;
}
#r1_c3 { background: magenta;
  height: 120px;
  width: 100px;
}
/* -------------------------------------------------------------------------- */
#r2_c1, #r2_c2, #r2_c3, #r2_c4, #r2_c5 {
  display: inline-block;

  height: 50px;
  width: 50px;
}
#r2_c1 { background: blue;}
#r2_c2 { background: orange;}
#r2_c3 { background: purple;}
#r2_c4 { background: black;}
#r2_c5 { background: silver;}
/* -------------------------------------------------------------------------- */
#r3_c1, #r3_c2 {
  display: inline-block;
  height: 50px;
  width: 50px;
}
#r3_c1 { background: red;}
#r3_c2 { background: purple;}
/* -------------------------------------------------------------------------- */
#r4_c1, #r4_c2 {
  display: inline-block;
  height: 50px;
  width: 50px;
}
#r4_c1 { background: purple;}
#r4_c2 { background: red;}
/* -------------------------------------------------------------------------- */
#r5_c1, #r5_c2 {
  display: inline-block;
  height: 50px;
  width: 50px;
}
#r5_c1 { background: red;}
#r5_c2 { background: blue;}
/* -------------------------------------------------------------------------- */
#r2-center { background: yellow;
  background: yellow;
  height: 47px;
  width: 878px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 87px;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
