* {
  padding: 0;
  margin: 0;
  border: 0;
}
#main-container {
  height: 832px;
  width: 1000px;

  /* DEBUG */
  /* background: red; */
  background-image: url('python-BSD.png');
  background-size: contain;
  background-repeat: no-repeat;
}
/* -------------------------------------------------------------------------- */
/* top-most row */
header {
  height: 120px;

  /* DEBUG */
  background: #245076;
  /* opacity: 0.5; */
}

/* image in top row on left side */
header img {
  height: 102px;
  padding-top: 16px;
  padding-left: 31px;
}

/* lego-block in upper-right corner (contains search-bar and text above it) */
header div {
  height: 90px;
  width: 312px;
  float: right;

  /* DEBUG */
  /* background: teal; */
  /* opacity: 0.5; */
}

/* text above search bar */
#text-above-search-bar {
  height: 28px;

  display: inline-block;
  font-family: sans-serif;
  color: white;
  font-size: 14px;

  /* DEBUG */
  /* background: red; */
  /* opacity: 0.5; */


}

#text-above-search-bar span {
  padding-top: 9px;
  padding-left: 112px;

  /* NEEDED TO APPLY PADDING-TOP!!! */
  display: inline-block;
}

#text-above-search-bar a {
  color: yellow;
}

/* search-bar (form) */
#search-bar {
  height: 40px;

  padding-top: 7px;
  padding-left: 55px;

  /* text-align: center; */

  /* DEBUG */
  /* background: yellow; */
  /* opacity: 0.5; */
}

/* search-bar field */
#search-field {
  height: 35px;
  width: 161px;
  text-align: center;
  color: silver;
  border: silver 1px;
  border-style: inset;
}

#search-button {
  border-radius: 5px;
  background: #245076;
  border: 1px silver;
  border-style: inset;
  color: white;

  height: 33px;
  width: 45px;

}
/* -------------------------------------------------------------------------- */
/* second row - navication bar*/
nav {
  height: 60px;

  /* DEBUG */
  /* background: yellow;
  opacity: 0.5; */

  /* TODO */
  /* padding: 0px; */

    display: block-inline;

    padding-top: 10px;
    padding-left: 3px;

}

#nav-bar {
  background: blue;
  height: 28px;
  width: 878px;

  margin-left: 84px;

  padding-top:    10px;
  padding-bottom: 10px;

  border-radius: 6px;

  /* DEBUG */
  /* opacity: 0.5; */
}

/* links in nav-bar */
#nav-bar a:nth-of-type(1) { margin-left: 56px; } /* 1st-link */
#nav-bar a:nth-of-type(2) { margin-left: 42px; }
#nav-bar a:nth-of-type(3) { margin-left: 42px; }
#nav-bar a:nth-of-type(4) { margin-left: 42px; }
#nav-bar a:nth-of-type(5) { margin-left: 42px; }
#nav-bar a:nth-of-type(6) { margin-left: 42px; }

#nav-bar a {
  /* remove underlines */
  text-decoration: none;
  font-family: sans-serif;
  font-size: 22px;
  color: white;

  height: 25px;
  width: 25px;

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

  /* DEBUG */
  /* background: red;
  opacity: 0.5; */

  display: block-inline;
}
/* -------------------------------------------------------------------------- */
/* third row */
main {
  height: 305px;

  /* DEBUG */
  /* background: red; */
  /* opacity: 0.5; */
}

#main__left-box {
  height: 305px;
  width: 260px;

  /* DEBUG */
  background: blue;
  opacity: 0.7;

  display: inline-block;
  vertical-align: top;

  padding-top: 21px;
  padding-left: 39px;
}

#main__left-box__bullets {
  list-style: none;
  text-align: center;
}

#main__left-box__bullets li {

  /* center-bullets with text*/
  list-style-position: inside;
}

#main__left-box__bullets li:before {
  /* custom ASCII bullets */
  /* https://www.artishock.net/coding/css-list-styling-using-ascii-special-characters/ */
	content: "\00BB \0020";
}




#main__right-box {
  height: 305px;
  /* width: 696px; */

  /* DEBUG */
  /* background: yellow; */
  /* opacity: 0.5; */

  display: inline-block;
  vertical-align: top;
}

#main__right-box__bottom {
  /* push list to left */
  padding-right: 32px;
}

/* top div inside right-box */
#main__right-box div:nth-of-type(1) {

  height: 82px;
  width: 696px;

  /* DEBUG */
  /* background: green;
  opacity: 0.5; */
}

/* pragraph in the top right box */
#main__right-box p {
    margin-top: 7px;
    margin-right: 65px;
    margin-left: 29px;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

/* select first 5-elements of list */
.zen-principles {
  text-align: center;
  font-family: sans-serif;
  color: yellow;
  font-style: italic;
  font-size: 22px;
  list-style-type: none;

  /* seperate each bullet point vertically */
  margin-top: 7px;
}

/* select last element of list */
#zen-of-python {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 18px;
  list-style-type: none;

  margin-top: 11px;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
















/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
