#container{ background: silver;
  width: 1000px;
  height: 1200px;
}
/* -------------------------------------------------------------------------- */
#r1, #r2, #r3, #r4, #r5 { background: red;
  height: 200px;
  margin: 5px;
}
/* -------------------------------------------------------------------------- */
